html *{ 
  background-color: black;
  color: white; 
}

table td {
  padding: 3px
}

input[type=text]{
  font-size: 36px;
  border-radius: 5px;
  text-align: center;
}

input[type=text]:focus{
  outline: inherit;
}

input[type=submit]{
  border-color: purple;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}