html *{ 
  background-color: black;
  color: white; 
}

table td {
  padding: 3px
}

input[type=text]{
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
}

input[type=text]:focus{
  outline: inherit;
}