$primary: purple;
$secondary: white;

html *{ 
  background-color: black;
  color: $secondary; 
}

h1{
  font-weight: 800;
}

h3{
  font-weight: 100;
}

table td {
  padding: 3px
}

.entry-form {
  font-size: 24px;
}

.textarea-container {
  border: 0;
  width: 100%;
  min-height: 48px;
  overflow-x: hidden;
  overflow-y: auto;
}

textarea{
  padding: 0;
  font-size: 36px;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: center;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

textarea:focus{
  outline: 0;
  border: 1px solid $secondary;
  word-wrap: break-word;
  white-space: wrap;
  scrollbar-width: 0px;
}

button {
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: $primary;
}

input[type=submit]{
  @extend button;
  font-size: 24px;
  border-color: $primary;
}

